In [1]:
import pandas as pd
import reverse_geocoder as rg

In [2]:
df_dem_test = pd.read_csv(r'https://raw.githubusercontent.com/Ciarzi/DP3_GP1/main/datasets/test_datos_demograficos.csv')
df_dem_train = pd.read_csv(r'https://raw.githubusercontent.com/Ciarzi/DP3_GP1/main/datasets/train_datos_demograficos.csv')

In [3]:
#adjuntar los dos csv
df_dem = df_dem_test.append(df_dem_train, ignore_index=True)
#eliminar filas que sean idénticas
df_dem.drop_duplicates(inplace = True)
#dimensiones del nuevo dataframe
df_dem.shape

C:\Users\sergi\AppData\Local\Temp/ipykernel_18760/1409091891.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_dem = df_dem_test.append(df_dem_train, ignore_index=True)

(5818, 9)

In [4]:
# nos quedamos con las columnas de loocalizacion
df_loc = df_dem[['customerid', 'longitude_gps', 'latitude_gps']]

In [5]:
# vemos que podemos sacar de las coordenadas
rg.search((df_loc.latitude_gps[1], df_loc.longitude_gps[1]))

Loading formatted geocoded file...

[{'lat': '6.61505',
  'lon': '3.32502',
  'name': 'Agege',
  'admin1': 'Lagos',
  'admin2': '',
  'cc': 'NG'}]

In [6]:
# creamos columnas con el pais de las coordenadas
df_loc['pais'] = df_loc.apply(lambda x: rg.search((x['latitude_gps'], x['longitude_gps']))[0]['cc'], axis=1)

C:\Users\sergi\AppData\Local\Temp/ipykernel_18760/2350604639.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loc['pais'] = df_loc.apply(lambda x: rg.search((x['latitude_gps'], x['longitude_gps']))[0]['cc'], axis=1)

In [8]:
# creamos columna con el estado del país de las coordenadas
df_loc['estado'] = df_loc.apply(lambda x: rg.search((x['latitude_gps'], x['longitude_gps']))[0]['admin1'], axis=1)

C:\Users\sergi\AppData\Local\Temp/ipykernel_18760/3059800434.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loc['estado'] = df_loc.apply(lambda x: rg.search((x['latitude_gps'], x['longitude_gps']))[0]['admin1'], axis=1)

In [30]:
df_loc

,customerid,longitude_gps,latitude_gps,pais,estado
0,8a858f305c8dd672015c93b1db645db4,5.296628,7.593965,NG,Ekiti
1,8a858f085a477386015a47fb049e49ca,3.294513,6.596602,NG,Lagos
2,8a858e6f5cd5e874015cd6f5634c39ad,8.501912,7.729364,NG,Benue
3,8a858e9d5bfd7037015bfdab79f61305,3.318904,6.681595,NG,Lagos
4,8a858fde56eb02280156eb6dafc128ac,6.354624,4.949031,NG,Bayelsa
...,...,...,...,...,...
5828,8a858f155554552501555588ca2b3b40,3.236753,7.030168,NG,Ogun
5829,8a858fc65cf978f4015cf97cee3a02ce,7.013750,4.875662,NG,Rivers
5830,8a858f4f5b66de3a015b66fc83c61902,6.295530,7.092508,NG,Edo
5831,8aaae7a74400b28201441c8b62514150,3.354206,6.539070,NG,Lagos
5832,8a85896653e2e18b0153e69c1b90265c,6.661014,7.472700,NG,Kogi

In [32]:
df_loc.drop(columns = ['longitude_gps', 'latitude_gps'], inplace = True)

C:\Users\sergi\AppData\Local\Temp/ipykernel_18760/1895729287.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loc.drop(columns = ['longitude_gps', 'latitude_gps'], inplace = True)

In [33]:
# guardamos el df en un csv
df_loc.to_csv(r'../datasets/own_data/datos_localizacion.csv', index = False)

In [17]:
# vemos de que pais hay información
df_loc['pais'].value_counts()

NG    5771
US      16
GB       5
AE       4
GH       4
BJ       4
CI       2
RU       2
CN       2
SA       1
AR       1
PF       1
ES       1
TH       1
CM       1
NE       1
AU       1
Name: pais, dtype: int64

In [19]:
# vemos la distribución de los estados
df_loc['estado'].value_counts()

Lagos                              2622
Abuja Federal Capital Territory     476
Oyo                                 474
Ogun                                421
Rivers                              232
                                   ...
Bangkok                               1
Makkah                                1
Tierra del Fuego                      1
England                               1
Jigawa                                1
Name: estado, Length: 66, dtype: int64

## Datos de PIB per cápita

In [28]:
df_pib_nigeria = pd.read_csv(r'https://raw.githubusercontent.com/Ciarzi/DP3_GP1/main/datasets/own_data/nigeria_pib_capita.csv')

In [29]:
df_pib_nigeria

                estado pib_capita
0          Lagos State  US$33.679
1         Rivers State  US$21.073
2          Delta State  US$16.749
3            Oyo State  US$16.121
4            Imo State  US$14.212
5      Akwa Ibom State  US$13.700
6           Kano State  US$12.393
7            Edo State  US$11.888
8           Ogun State  US$10.470
9        1Kaduna State  US$10.334
10  1Cross River State   US$9.292
11         1Abia State   US$8.687
12         1Ondo State   US$8.414
13         1Osun State   US$7.280
14        1Benue State   US$6.864
15      1Anambra State   US$6.764
16       Katsina State   US$6.022
17        1Niger State   US$6.002
18        1Borno State   US$5.175
19       Plateau State   US$5.154
20        Sokoto State   US$4.818
21        Bauchi State   US$4.713
22          Kogi State   US$4.642
23       Adamawa State   US$4.582
24         Enugu State   US$4.396
25       Bayelsa State   US$4.337
26       Zamfara State   US$4.123
27         Kwara State   US$3.841
28        Taraba State   US$3.397
29         Kebbi State   US$3.290
30     Nassarawa State   US$3.022
31        Jigawa State   US$2.988
32         Ekiti State   US$2.848
33        Ebonyi State   US$2.732
34         Gombe State   US$2.501
35          Yobe State   US$2.011

In [25]:
# transformar la columna de pib per capita
# sacar el numero
df_pib_nigeria['pib_capita'] = df_pib_nigeria['pib_capita'].apply(lambda x: x[3:])
# pasar a tipo numero
df_pib_nigeria['pib_capita'] = df_pib_nigeria['pib_capita'].astype('float64')
# pasamos de dolar a euro
df_pib_nigeria['pib_capita'] = df_pib_nigeria['pib_capita'] * 1000 * 0.95
# redondeamos a int
df_pib_nigeria['pib_capita'] = df_pib_nigeria['pib_capita'].astype('int')
# ver el df
df_pib_nigeria

                estado  pib_capita
0          Lagos State       31995
1         Rivers State       20019
2          Delta State       15911
3            Oyo State       15314
4            Imo State       13501
5      Akwa Ibom State       13015
6           Kano State       11773
7            Edo State       11293
8           Ogun State        9946
9        1Kaduna State        9817
10  1Cross River State        8827
11         1Abia State        8252
12         1Ondo State        7993
13         1Osun State        6916
14        1Benue State        6520
15      1Anambra State        6425
16       Katsina State        5720
17        1Niger State        5701
18        1Borno State        4916
19       Plateau State        4896
20        Sokoto State        4577
21        Bauchi State        4477
22          Kogi State        4409
23       Adamawa State        4352
24         Enugu State        4176
25       Bayelsa State        4120
26       Zamfara State        3916
27         Kwara State        3648
28        Taraba State        3227
29         Kebbi State        3125
30     Nassarawa State        2870
31        Jigawa State        2838
32         Ekiti State        2705
33        Ebonyi State        2595
34         Gombe State        2375
35          Yobe State        1910

## Añadir datos de pib per capita a datos de localización

In [ ]:
# guardamos el df en un csv
df_loc.to_csv(r'../datasets/own_data/datos_localizacion.csv', index = False)