##CONFIGURACION INICIAL

In [ ]:
# Importar librerías a usar
import pandas as pd
import datetime
import numpy as np

In [ ]:
# funcion para pasar de fecha de nacimiento a edad
def from_dob_to_age(born):
    today = datetime.date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [ ]:
# Leer los csv de train
df_dem_train = pd.read_csv(r'/content/sample_data/train_datos_demograficos.csv')
#df_perf_train = pd.read_csv(r'datos_origen/train_performance.csv')
df_loan_train = pd.read_csv(r'/content/sample_data/test_previous_loan.csv')

##JUNTAR LOS DATASETS

In [ ]:
# tenemos un dataset con los clientes y otro dataset con los prestamos
# se va a hacer un join para tener un df con los prestamos, incluyendo en cada uno los datos del cliente
df_train = df_loan_train.merge(df_dem_train, on='customerid', how='inner')

##INSPECCIÓN DEL DATASET

In [ ]:
df_train['creationdate2'] = df_train['creationdate'] + pd.DateOffset(days=30)

In [ ]:
#vista primera del df
df_train

,customerid,loannumber,approveddate,loanamount,termdays,referredby,firstduedate,firstrepaiddate,birthdate,bank_account_type,longitude_gps,latitude_gps,bank_name_clients,employment_status_clients,level_of_education_clients,creationdate2
0,8a858899538ddb8e015390510b321f08,3,2016-05-17 10:37:00.000000,10000,30,NaN,2016-06-16 00:00:00.000000,2016-06-16 15:44:08.000000,1983-12-16 00:00:00.000000,Other,5.835219,8.274730,First Bank,Permanent,NaN,2016-06-16 09:36:55
1,8a858899538ddb8e015390510b321f08,1,2016-03-21 19:47:23.000000,6000,15,NaN,2016-04-05 00:00:00.000000,2016-04-04 12:30:36.000000,1983-12-16 00:00:00.000000,Other,5.835219,8.274730,First Bank,Permanent,NaN,2016-04-20 18:47:15
2,8a858899538ddb8e015390510b321f08,2,2016-04-05 21:20:10.000000,10000,30,NaN,2016-05-05 00:00:00.000000,2016-05-16 18:49:23.000000,1983-12-16 00:00:00.000000,Other,5.835219,8.274730,First Bank,Permanent,NaN,2016-05-05 20:20:02
3,8a858959537a097401537a4e316e25f7,5,2017-02-04 21:28:59.000000,30000,60,NaN,2017-03-06 00:00:00.000000,2017-03-02 16:07:47.000000,1986-04-06 00:00:00.000000,Savings,3.245768,6.601778,First Bank,Permanent,NaN,2017-03-06 20:28:52
4,8a858959537a097401537a4e316e25f7,6,2017-03-04 10:28:22.000000,30000,30,NaN,2017-04-03 00:00:00.000000,2017-04-01 21:29:46.000000,1986-04-06 00:00:00.000000,Savings,3.245768,6.601778,First Bank,Permanent,NaN,2017-04-03 09:28:16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4312,8a858f8e5986f510015987965aa9183a,1,2017-06-11 09:54:00.000000,10000,30,8a858eae5bb5beb8015bc89b9225473d,2017-07-14 00:00:00.000000,2017-07-11 18:55:37.000000,1979-07-01 00:00:00.000000,Savings,3.374096,6.599176,Diamond Bank,Permanent,Secondary,2017-07-11 08:53:52
4313,8a858eba5c884d2a015c9c11f8233e98,1,2017-06-12 12:42:31.000000,10000,30,8a858e3d5c3b5122015c43f776bd4a3a,2017-07-12 00:00:00.000000,2017-07-06 13:41:47.000000,1994-03-24 00:00:00.000000,Savings,3.371172,6.442101,Fidelity Bank,Permanent,NaN,2017-07-12 11:41:21
4314,8a858e705b3a03c7015b3b10e6ae5eda,1,2017-06-23 20:39:32.000000,10000,30,NaN,2017-07-24 00:00:00.000000,2017-07-22 15:32:53.000000,1984-10-29 00:00:00.000000,Savings,7.482938,9.029408,UBA,Permanent,NaN,2017-07-23 19:38:24
4315,8a858f7b5ca7abe3015cac08f7d43c87,1,2017-06-15 15:12:48.000000,10000,30,8a858e8a5c1c14b8015c20ef0e5e1da8,2017-07-17 00:00:00.000000,2017-07-01 18:27:59.000000,1993-11-20 00:00:00.000000,Savings,7.497822,5.539069,Diamond Bank,Permanent,NaN,2017-07-15 14:11:39
4316,8a858fab5b9105dc015b975e594e394a,1,2017-06-26 15:46:28.000000,10000,30,NaN,2017-07-26 00:00:00.000000,2017-07-13 13:02:34.000000,1984-06-03 00:00:00.000000,Current,3.256948,6.708042,FCMB,Permanent,NaN,2017-07-26 14:45:20

15 dias - 15
30 dias - 30
60 dias - 30
90 dias -

In [ ]:
#ver distribucion de una columna
df_train['termdays'].value_counts(dropna=False)

30    2688
15    1382
60     238
90       9
Name: termdays, dtype: int64

##AJUSTES INICIALES DEL DATASET

QUITAR COLUMNAS QUE NO SE USAN

In [ ]:
#quitar columnas que no se usan
# elegir las columnas
df_train_delete = ['systemloanid', 'creationdate', 'closeddate', 'bank_branch_clients', 'totaldue']
# borrar las columnas elegidas
df_train.drop(columns = df_train_delete, inplace = True)

CAMBIAR TIPO DE DATO DE LAS COLUMNAS

In [ ]:
#ver tipo de datos de las columnas
df_train.dtypes

customerid                            object
systemloanid                           int64
loannumber                             int64
approveddate                          object
creationdate                  datetime64[ns]
loanamount                             int64
totaldue                             float64
termdays                               int64
closeddate                            object
referredby                            object
firstduedate                          object
firstrepaiddate                       object
birthdate                             object
bank_account_type                     object
longitude_gps                        float64
latitude_gps                         float64
bank_name_clients                     object
bank_branch_clients                   object
employment_status_clients             object
level_of_education_clients            object
dtype: object

In [ ]:
#cambiar tipo de dato
df_train['loanamount'] = df_train['loanamount'].astype('int')
#pasar columna a fecha
df_train['creationdate'] = pd.to_datetime(df_train['creationdate'])

###QUITAR FILAS QUE TENGAN VALORES VACÍOS

In [ ]:
#ver valores vacíos por columna
print(df_train.isnull().sum())

customerid                       0
systemloanid                     0
loannumber                       0
approveddate                     0
creationdate                     0
loanamount                       0
totaldue                         0
termdays                         0
closeddate                       0
referredby                    4070
firstduedate                     0
firstrepaiddate                  0
birthdate                        0
bank_account_type                0
longitude_gps                    0
latitude_gps                     0
bank_name_clients                0
bank_branch_clients           4277
employment_status_clients      452
level_of_education_clients    3230
dtype: int64

In [ ]:
#eliminar filas
df_train.dropna(subset=['name', 'toy'], inplace = True)
df_train.shape

##TRANSFORMACIONES EN ALGUNAS COLUMNAS

COLUMNADA BOOLEANA PARA SI HA SIDO REFERIDO

In [ ]:
## transform a value inside a column to a separate boolean column
df_train['referredby'].fillna(0, inplace = True)
df_train['referido'] = 1
df_train.loc[df_train['referredby'] == 0, 'referido'] = 0
#convertimos la columna a int
df_train['referido'] = df_train['referido'].astype('Int64')
#quitamos la columna que ya no se usa
df_train.drop(columns = ['referredby'], inplace = True)

DE FECHA DE NACIMIENTO A EDAD

In [ ]:
# pasar de fecha de nacimiento a edad
df_train['age'] = pd.to_datetime(df_train['birthdate'])
df_train['age'] = df_train['age'].apply(lambda x: from_dob_to_age(x)).astype('Int64')
#quitar la columna de birthdate
df_train.drop(columns = ['birthdate'], inplace = True)

DE COORDENADAS A PAÍS

In [ ]:
#coordinates to city, country...
df_train['longitude_gps']
df_train['latitude_gps']

DE UNA COLUMNA DE EDUCACIÓN A VARIAS BOOLEANAS

In [ ]:
## transform a value inside a column to a separate boolean column
df_train.loc[df_train['level_of_education_clients'] == 'Post-Graduate', 'Post-Graduate'] = 1
df_train.loc[df_train['level_of_education_clients'] != 'Post-Graduate', 'Post-Graduate'] = 0
#convertimos la columna a int
df_train['Post-Graduate'] = df_train['Post-Graduate'].astype('Int64')

In [ ]:
# elegir las columnas del dataset que se van a borrar
df_train_delete = ['systemloanid', 'birthdate', 'approveddate', 'creationdate', 'bank_branch_clients']
# borrar las columnas elegidas
df_train.drop(columns = df_train_delete, inplace = True)

##GUARDAR DATASET

In [ ]:
# df a csv
df_train.to_csv(r'datos_origen/TRAIN.csv', index = False)

https://www.jeremyjordan.me/preparing-data-for-a-machine-learning-model/