##CONFIGURACION INICIAL

In [114]:
!pip install reverse_geocoder

Collecting reverse_geocoder
  Downloading reverse_geocoder-1.5.1.tar.gz (2.2 MB)
     |████████████████████████████████| 2.2 MB 5.1 MB/s
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from reverse_geocoder) (1.21.6)
Requirement already satisfied: scipy>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from reverse_geocoder) (1.4.1)
Building wheels for collected packages: reverse-geocoder
  Building wheel for reverse-geocoder (setup.py) ... done
  Created wheel for reverse-geocoder: filename=reverse_geocoder-1.5.1-py3-none-any.whl size=2268088 sha256=dbdd8fd9953e9eb550b512483c65ac606fbfb817dfaadcf1d60a4b27892deaef
  Stored in directory: /root/.cache/pip/wheels/34/6e/70/5423639428a2cac8ea7eb467214a4254b549b381f306a9c790
Successfully built reverse-geocoder
Installing collected packages: reverse-geocoder
Successfully installed reverse-geocoder-1.5.1

In [115]:
# Importar librerías a usar
import pandas as pd
import datetime
import numpy as np
import reverse_geocoder as rg

In [44]:
# funcion para pasar de fecha de nacimiento a edad
def from_dob_to_age(born):
    today = datetime.date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [68]:
# Leer los csv de train
df_perf_test = pd.read_csv(r'https://raw.githubusercontent.com/Ciarzi/DP3_GP1/main/datasets/test_performance.csv')
df_perf_train = pd.read_csv(r'https://raw.githubusercontent.com/Ciarzi/DP3_GP1/main/datasets/train_performance.csv')
df_loan_test = pd.read_csv(r'https://raw.githubusercontent.com/Ciarzi/DP3_GP1/main/datasets/test_previous_loan.csv')
df_loan_train = pd.read_csv(r'https://raw.githubusercontent.com/Ciarzi/DP3_GP1/main/datasets/train_previous_loan.csv')
df_dem_test = pd.read_csv(r'https://raw.githubusercontent.com/Ciarzi/DP3_GP1/main/datasets/test_datos_demograficos.csv')
df_dem_train = pd.read_csv(r'https://raw.githubusercontent.com/Ciarzi/DP3_GP1/main/datasets/train_datos_demograficos.csv')

##ADJUNTAR LOS DOS CSV DE DATOS DEMOGRÁFICOS Y LOS DOS CSV DE HISTÓRICO DE PRÉSTAMOS

ADJUNTAR LOS DATOS DE CLIENTES

In [71]:
#dimensiones de test de datos demográficos
df_dem_test.shape

(1487, 9)

In [72]:
#dimensiones de test de datos demográficos
df_dem_train.shape

(4346, 9)

In [73]:
#adjuntar los dos csv
df_dem = df_dem_test.append(df_dem_train, ignore_index=True)

In [74]:
#eliminar filas que sean idénticas
df_dem.drop_duplicates(inplace = True)

In [75]:
#dimensiones del nuevo dataframe
df_dem.shape

(5818, 9)

ADJUNTAR LOS DATOS DE HISTÓRICO DE PRÉSTAMOS

In [76]:
#dimensiones de test de histórico de préstamos
df_loan_test.shape

(5907, 12)

In [77]:
#dimensiones de test de histórico de préstamos
df_loan_train.shape

(18183, 12)

In [78]:
#adjuntar los dos csv
df_loan = df_loan_test.append(df_loan_train, ignore_index=True)

In [79]:
#eliminar filas que sean idénticas
df_loan.drop_duplicates(inplace = True)

In [80]:
#dimensiones del nuevo dataframe
df_loan.shape

(24090, 12)

##JUNTAR LOS DATASETS

In [81]:
# Primero, al dataset con los prestamos se va a añadir la informacion de los datos del cliente que han pedido el prestamo
# De los clientes que piden prestamo, hay algunos de los que no tenemos información. Por tanto, hemos excluido los registros
# de estos prestamos
df_train = df_perf_train.merge(df_dem, on='customerid', how='inner')

In [82]:
df_train.shape

(4368, 18)

##INSPECCIÓN DEL DATASET

In [105]:
#vista primera del df
df_train

,customerid,loannumber,approveddate,totaldue,termdays,good_bad_flag,bank_account_type,longitude_gps,latitude_gps,bank_name_clients,employment_status_clients,level_of_education_clients,referido,age
0,8a2a81a74ce8c05d014cfb32a0da1049,12,2017-07-25 08:22:56,34500,30,Good,Other,3.432010,6.433055,Diamond Bank,Permanent,Post-Graduate,0,50
1,8a85886e54beabf90154c0a29ae757c0,2,2017-07-05 17:04:41,17250,30,Good,Savings,3.885298,7.320700,GT Bank,Permanent,Graduate,0,36
2,8a8588f35438fe12015444567666018e,7,2017-07-06 14:52:57,22250,15,Good,Other,11.139350,10.292041,EcoBank,Permanent,NaN,0,37
3,8a85890754145ace015429211b513e16,3,2017-07-27 19:00:41,11500,15,Good,Savings,3.985770,7.491708,First Bank,Permanent,NaN,0,44
4,8a858970548359cc0154883481981866,9,2017-07-03 23:42:45,44000,30,Good,Other,7.457913,9.076574,GT Bank,Permanent,Primary,0,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4363,8a858e6d58b0cc520158beeb14b22a5a,2,2017-07-30 09:19:42,13000,30,Bad,Savings,6.981903,4.785397,EcoBank,NaN,NaN,0,43
4364,8a858ee85cf400f5015cf44ab1c42d5c,2,2017-07-27 15:35:47,13000,30,Bad,Savings,4.607358,8.460608,FCMB,Permanent,NaN,0,32
4365,8a858f365b2547f3015b284597147c94,3,2017-07-25 16:25:57,11500,15,Bad,Savings,3.976842,7.409129,First Bank,Permanent,NaN,0,32
4366,8a858f935ca09667015ca0ee3bc63f51,2,2017-07-14 13:50:27,13000,30,Bad,Savings,3.986089,7.386796,Skye Bank,Permanent,NaN,1,31
4367,8a858fd458639fcc015868eb14b542ad,8,2017-07-06 21:01:06,34500,30,Bad,Savings,3.725655,6.474430,GT Bank,NaN,NaN,0,33

In [110]:
#ver distribucion de una columna
df_train['employment_status_clients'].value_counts(dropna = False)

Permanent        3130
NaN               657
Self-Employed     368
Student           142
Unemployed         62
Retired             7
Contract            2
Name: employment_status_clients, dtype: int64

##AJUSTES INICIALES DEL DATASET

QUITAR COLUMNAS QUE NO SE USAN

In [98]:
#ANTES DE QUITAR UNA COLUMNA, HACER PRUEBA PARA VER QUE NO GUARDAN NINGUNA RELACIÓN CON LA COLUMNA DE PREDICCIÓN (random tree pe)

#quitar columnas que no se usan
# elegir las columnas
df_train_delete = ['systemloanid', 'bank_branch_clients', 'creationdate', 'loanamount']
# borrar las columnas elegidas
df_train.drop(columns = df_train_delete, inplace = True)

CAMBIAR TIPO DE DATO DE LAS COLUMNAS

In [99]:
#ver tipo de datos de las columnas
df_train.dtypes

customerid                     object
loannumber                      int64
approveddate                   object
totaldue                      float64
termdays                        int64
referredby                     object
good_bad_flag                  object
birthdate                      object
bank_account_type              object
longitude_gps                 float64
latitude_gps                  float64
bank_name_clients              object
employment_status_clients      object
level_of_education_clients     object
dtype: object

In [100]:
#cambiar tipo de dato
df_train['totaldue'] = df_train['totaldue'].astype('int')
#pasar columna a fecha
df_train['approveddate'] = pd.to_datetime(df_train['approveddate'])
df_train['birthdate'] = pd.to_datetime(df_train['birthdate'])

###QUITAR FILAS QUE TENGAN VALORES VACÍOS

In [101]:
#ver valores vacíos por columna
print(df_train.isnull().sum())

customerid                       0
loannumber                       0
approveddate                     0
totaldue                         0
termdays                         0
referredby                    3781
good_bad_flag                    0
birthdate                        0
bank_account_type                0
longitude_gps                    0
latitude_gps                     0
bank_name_clients                0
employment_status_clients      657
level_of_education_clients    3763
dtype: int64

Los valores vacíos van a desaparecer luego de las transformaciones

##TRANSFORMACIONES EN ALGUNAS COLUMNAS

COLUMNADA BOOLEANA PARA SI HA SIDO REFERIDO

In [102]:
## transform a value inside a column to a separate boolean column
df_train['referredby'].fillna(0, inplace = True)
df_train['referido'] = 1
df_train.loc[df_train['referredby'] == 0, 'referido'] = 0
#convertimos la columna a int
df_train['referido'] = df_train['referido'].astype('Int64')
#quitamos la columna que ya no se usa
df_train.drop(columns = ['referredby'], inplace = True)

DE FECHA DE NACIMIENTO A EDAD

In [104]:
# pasar de fecha de nacimiento a edad
df_train['age'] = df_train['birthdate'].apply(lambda x: from_dob_to_age(x)).astype('Int64')
#quitar la columna de birthdate
df_train.drop(columns = ['birthdate'], inplace = True)

DE COORDENADAS A PAÍS

In [119]:
#coordinates a país
coordenadas =(9.076574, 7.457913)
ciudad = rg.search(coordenadas)
print(ciudad)

[OrderedDict([('lat', '9.05785'), ('lon', '7.49508'), ('name', 'Abuja'), ('admin1', 'Abuja Federal Capital Territory'), ('admin2', ''), ('cc', 'NG')])]

In [ ]:
#coordinates a país
df_train['pais'] = ''
for line in df_train.index:
  coordenadas =(df_train['latitude_gps'][line], df_train['longitude_gps'][line])
  pais = rg.search(coordenadas)[0]['cc']
  df_train['pais'][line] = ciudad

DE UNA COLUMNA DE EDUCACIÓN A VARIAS BOOLEANAS

In [109]:
"""
NaN              3763    0
Graduate          444    3
Secondary          88    2
Post-Graduate      66    4
Primary             7    1
"""

## transform a value inside a column to a separate boolean column
df_train['nivel_educacion'] = 0
df_train.loc[df_train['level_of_education_clients'] == 'Primary', 'nivel_educacion'] = 1
df_train.loc[df_train['level_of_education_clients'] != 'Secondary', 'nivel_educacion'] = 2
df_train.loc[df_train['level_of_education_clients'] != 'Graduate', 'nivel_educacion'] = 3
df_train.loc[df_train['level_of_education_clients'] != 'Post-Graduate', 'nivel_educacion'] = 4
#convertimos la columna a int
df_train['nivel_educacion'] = df_train['nivel_educacion'].astype('Int64')

LABEL ENCODING CON LA COLUMNA OCUPACIÓN

In [ ]:
"""
NaN              3763    0
Graduate          444    3
Secondary          88    2
Post-Graduate      66    4
Primary             7    1
"""

## transform a value inside a column to a separate boolean column
df_train['nivel_educacion'] = 0
df_train.loc[df_train['level_of_education_clients'] == 'Primary', 'nivel_educacion'] = 1
df_train.loc[df_train['level_of_education_clients'] != 'Secondary', 'nivel_educacion'] = 2
df_train.loc[df_train['level_of_education_clients'] != 'Graduate', 'nivel_educacion'] = 3
df_train.loc[df_train['level_of_education_clients'] != 'Post-Graduate', 'nivel_educacion'] = 4
#convertimos la columna a int
df_train['nivel_educacion'] = df_train['nivel_educacion'].astype('Int64')

In [ ]:
# elegir las columnas del dataset que se van a borrar
df_train_delete = ['systemloanid']
# borrar las columnas elegidas
df_train.drop(columns = df_train_delete, inplace = True)

##GUARDAR DATASET

In [30]:
# df a csv
df_train.to_csv(r'/content/sample_data/TRAIN.csv', index = False)

https://www.jeremyjordan.me/preparing-data-for-a-machine-learning-model/